.SongDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0.445);
    border-radius: 5%;
    direction: ltr;
}

.SongsContainer{
    background-Color: rgb(99, 99, 99);
    display: flex;
    flex-Direction: column;
    width: 30%;
    padding: 2.5%;
    z-index: 10;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    border-right: 2px solid black;
    direction: rtl;
}

.SongDiv:first-child{
    position: absolute;
    top: 50px;
    margin-bottom: 10rem;
}

.Playlist{
    position: absolute;
    left: 35%;
    top: 60%;
    background-color: turquoise;
    height: 40%;
    width: 64%;
    overflow: auto;
    padding-left: 1%;
    z-index: -1;
}

.LTR{
    direction: ltr;
}

.Form{
    direction: ltr;
}

.PlayListSong{

}

.CreatedMessage{
    position: absolute;
    height: 100px;
    width: auto;
    top: -10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3rem;
    z-index: 100000;
}